<!DOCTYPE html>
<html>

<head>
    <title>Palantir</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style>
        body,
        html {
            height: 100%;
            width: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsohQOYepDtM0VcyKeRmqPS3NZWdHm_mc&callback=initMap"></script>

    <body>
        <div id="map"></div>

    </body>
    <script>
        function initMap() {
            var map;
            $.get("/listLocations", function (data) {
                console.log(data)

                var place = {
                    lat: 0.39573604,
                    lng: 32.62815958
                };
                // The map, centered at Uluru
                map = new google.maps.Map(
                    document.getElementById('map'), {
                        zoom: 14,
                        center: place
                    });

                data.forEach(function (element) {
                    var i = element.split(",");
                    var latLang = {
                        lat: parseFloat(i[0]),
                        lng: parseFloat(i[1])
                    };
                    // The marker, positioned at Uluru
                    var marker = new google.maps.Marker({
                        position: latLang,
                        map: map
                    });
                });
            });

        }
        $(document).on("ready", function (e) {
            console.log("hello");
        })
    </script>
</body>

</html>